{{ 'slider.css' | asset_url | stylesheet_tag }}

<div class="swiper-container">
  
  <div class="swiper">
    <h2 class="swiper-title">Product Carousel</h2>

    <div class="swiper-wrapper">      
    {%- for product in section.settings.collection.products -%}
      <div class="swiper-slide">
        <div class="product-card">
          <a href="{{ product.url }}" class="product-card__header">
            <div class="product-card__image">
              {% if product.tags %}
                <div class="product-card__tag">{{ product.tags}}</div>
              {% endif %}
              <img
                  src="{{ product.featured_image | img_url: '800x800' }}"
                  alt="{{ product.featured_media.alt | escape }}"
                  loading="lazy"
                  class="motion-reduce"
                  width="{{ product.featured_media.width }}"
                  height="{{ product.featured_media.height }}"
                />
            </div>
            <h2>{{ product.title }}</h2>
          </a>
          <div class="product-card__body">
            <p{{ product.description | truncate: 220 }}</p>
            <p class="product-card__price">{{ product.price | money }} <span>{{ product.compare_at_price | money }}</span></p>
          </div>
          <div class="product-card__btnWrapper">
            <button type="submit" name="add" class="product-card__btn product-form__submit">Add to bag</button>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>

    <div class="swiper-navigation">
      <div class="swiper-prev"><div class="swiper-arrow left"></div></div>
      <div class="swiper-next"><div class="swiper-arrow right"></div></div>
    </div>
  </div>

</div>
 


{% schema %}
{
  "name": "Featured Slider",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Featured collection",
      "label": "Featured collection"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 12,
      "step": 2,
      "default": 4,
      "label": "Products to show"
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": true,
      "label": "t:sections.featured-slider.settings.show_view_all.label"
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": false,
      "label": "t:sections.featured-slider.settings.swipe_on_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.featured-slider.settings.header.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.featured-slider.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.featured-slider.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.featured-slider.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.featured-slider.settings.image_ratio.label"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.featured-slider.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "add_image_padding",
      "default": false,
      "label": "t:sections.featured-slider.settings.add_image_padding.label"
    },
    {
      "type": "checkbox",
      "id": "show_image_outline",
      "default": true,
      "label": "t:sections.featured-slider.settings.show_image_outline.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.featured-slider.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "en:sections.featured-slider.settings.show_rating.label",
      "info": "en:sections.featured-slider.settings.show_rating.info"
    }
  ],
  "presets": [
    {
      "name": "Featured Slider"
    }
  ]
}
{% endschema %}

{% javascript %}
  const swiper = new Swiper(".swiper", {

    slidesPerView: 'auto',
    loop: true,
    loopFillGroupWithBlank: true,
    freeMode: true,
    spaceBetween: 12,

    breakpoints: {
      544: {
        slidesPerView: 2,
      },
      991: {
        slidesPerView: 4,
        spaceBetween: 24
      }
    },
        
    navigation: {
      nextEl: ".swiper-next",
      prevEl: ".swiper-prev",
    },
  });
{% endjavascript %}
